<div *ngIf="!isArticleLoaded">
    Loading article...
</div>

<div *ngIf="isArticleLoaded">
    <div> <button (click)="deleteArticle()"> Delete article </button> </div>
    <a [routerLink]="['/articles', article.id, 'edit']"> Edit article </a>
    <h4> {{ article.title }} </h4>
    <h5> Author : {{ article.user_id }} </h5>
    <h5> Created : {{ article.created_at | articleDate }} </h5>
    <h5> Last update : {{ article.updated_at | articleDate }} </h5>
    
    <div class="articleBody">
        {{ article.body }}
    </div>
    
    <div *ngIf="!isCommentsLoaded">
        Loading comments...
    </div>

    <div *ngIf="isCommentsLoaded">
        <app-comment-list [comments]="comments"></app-comment-list>
    </div>

    <div class="commentForm">
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <textarea class="commentFormBody" id="body" name="body" formControlName="body" type="text" placeholder="Write comment..." required></textarea>
            
            <div *ngIf= "commentForm.get('body')!.invalid && (commentForm.get('body')!.dirty|| commentForm.get('body')!.touched)">
                <div *ngIf= "commentForm.get('body')!.errors?.['required']"> Comment musn't be empty. </div>
            </div>
    
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
</div>

