<div *ngIf="!isArticleLoaded">
    Loading article...
</div>

<div *ngIf="isArticleLoaded">
    <div class="deleteButton"> <button (click)="deleteArticle()"> Delete article </button> </div>
    <div class="editButton"> <a [routerLink]="['/articles', article.id, 'edit']"> Edit article </a> </div>

    <div class="articleBody">
      <h3>Title : </h3>
      {{ article.title }}

      <h3>Author : </h3>
      {{ article.user_id }}

      <h3>Created : </h3>
      {{ article.created_at | articleDate }}

      <h3>Last update : </h3>
      {{ article.updated_at | articleDate }}
    
      <h3>Body : </h3>
      {{ article.body }}
    </div>

    <div class="comments">
      <div *ngIf="!isCommentsLoaded">
          Loading comments...
      </div>
  
      <div *ngIf="isCommentsLoaded">
          <app-comment-list [comments]="comments"></app-comment-list>
      </div>
    </div>
    
    <div class="commentForm">
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <textarea class="commentFormBody" id="body" name="body" formControlName="body" type="text" placeholder="Write comment..." required></textarea>
            
            <div *ngIf= "commentForm.get('body')!.invalid && (commentForm.get('body')!.dirty|| commentForm.get('body')!.touched)">
                <div *ngIf= "commentForm.get('body')!.errors?.['required']"> Comment musn't be empty. </div>
            </div>
    
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    </div>
</div>

