<div class="commentForm">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <textarea class="commentFormBody" id="body" name="body" formControlName="body" type="text" placeholder="Write comment..." required></textarea>
        
        <div *ngIf= "commentForm.get('body')!.invalid && (commentForm.get('body')!.dirty|| commentForm.get('body')!.touched)">
            <div *ngIf= "commentForm.get('body')!.errors?.['required']"> Comment musn't be empty. </div>
        </div>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</div>
