<div class="articleForm">
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
        <input class="articleFormTitle" id="title" name="title" formControlName="title" type="text" placeholder="Write title..." required />
        <br/>
        <textarea class="articleFormBody" id="body" name="body" formControlName="body" type="text" placeholder="Write article..." required></textarea>
        
        <div *ngIf= "articleForm.get('title')!.invalid && (articleForm.get('title')!.dirty || articleForm.get('title')!.touched)">
            <div *ngIf= "articleForm.get('title')!.errors?.['notEmpty']" style="color: black;"> Title musn't be empty. </div>
        </div>

        <div *ngIf= "articleForm.get('body')!.invalid && (articleForm.get('body')!.dirty || articleForm.get('body')!.touched)">
            <div *ngIf= "articleForm.get('body')!.errors?.['notEmpty']" style="color: black;"> Body musn't be empty. </div>
        </div>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</div>
