<div *ngIf="article$ | async as article; else loading">

    <h1> Article {{ article.id }} </h1>
    <h4> {{ article.title }} </h4>
    <h5> Author: {{ article.user_id }} </h5>
    <h5> Created: {{ article.creation_date | articleDate }} </h5>
    <h5> Last update: {{ article.update_date | articleDate }} </h5>
    
    <div class="article_body">
        {{ article.body }}
    </div>
    
    <app-comment-list></app-comment-list>
    <app-comment-form *ngIf="isLoggedIn" (emitComment)="getComment($event)"></app-comment-form>
</div>

<ng-template #loading>Loading article...</ng-template>

