<div class="body">
    <div class="header"> Angular Blog </div>

    <div class="navbar">
        <a href="/"> Home </a>
        <a href="/login" *ngIf="!isLoggedIn"> Login </a> 
        <a href="/profile" *ngIf="isLoggedIn"> Profile </a>
        <a href="/logout" *ngIf="isLoggedIn"> Logout </a>
    </div>

    <router-outlet></router-outlet>

    <div class="footer"> My Footer </div>
</div>

<div> <span highlightDirective>TODO</span> &nbsp; Use directive in a better way </div>
<div> <span highlightDirective>TODO</span> &nbsp; {{ "Use pipes in a better way" | firstPipe }} </div>