* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
    width: 75%;
    margin: auto;
}

.header {
    background-color: rgb(245, 175, 175);
}

.footer {
    background-color: rgb(245, 175, 175);
}

.navbar {
    background-color: rgb(232, 156, 102);
}