<!--  -->
<div class="listTitle">my articles</div>

<div *ngIf="!isArticlesLoaded">
    Loading articles...
</div>

<div *ngIf="isArticlesLoaded">
    <app-article-list [articles]="articles"></app-article-list>
</div>

<!--  -->
<div class="listTitle">my comments</div>

<div *ngIf="!isCommentsLoaded">
    Loading comments...
</div>

<div *ngIf="isCommentsLoaded">
    <app-comment-list [comments]="comments"></app-comment-list>
</div>

<!--  -->
<div class="listTitle">liked articles</div>

<div *ngIf="!isLikedArticlesLoaded">
    Loading articles...
</div>

<div *ngIf="isLikedArticlesLoaded">
    <app-article-list [articles]="likedArticles"></app-article-list>
</div>
    
<!--  -->
<div class="listTitle">liked comments</div>
    
<div *ngIf="!isLikedCommentsLoaded">
    Loading comments...
</div>

<div *ngIf="isLikedCommentsLoaded">
    <app-comment-list [comments]="likedComments"></app-comment-list>
</div>
