<div class="loginForm">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input class="articleFormTitle" id="username" name="username" formControlName="username" type="text" placeholder="Username" required />
        <br/>
        <input class="articleFormBody" id="password" name="password" formControlName="password" type="text" placeholder="Password" required />
        
        <div *ngIf= "loginForm.get('username')!.invalid && (loginForm.get('username')!.dirty || loginForm.get('username')!.touched)">
            <div *ngIf= "loginForm.get('username')!.errors?.['required']"> Username musn't be empty. </div>
        </div>

        <div *ngIf= "loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)">
            <div *ngIf= "loginForm.get('password')!.errors?.['required']"> Password musn't be empty. </div>
        </div>

        <div *ngIf= error>
            <div> {{ error }} </div>
        </div>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</div>
