html {
  background-color : #315962
}

#app {
  max-width   : 1000px;
  margin      : auto;
  font-family : 'Courier New', Courier, monospace;
  color       : white;
}

a {
  color : black;
}

table a {
  color : black;
}

a:hover {
  color : rgb(0, 242, 255);
}
